
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400..700&family=Neucha&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

main{
  min-height: 90hv;
  max-width: 1280px;
};



body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  opacity: 0;
};

h1, h2, h3, h4, h5, h6{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
};
.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.particles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.25);
  animation: float 12s infinite linear;
  bottom: -20px;
  border-radius: 50%;
}

.particles li:nth-child(1) { left: 10%; width: 10px; height: 10px; animation-duration: 8s; }
.particles li:nth-child(2) { left: 20%; animation-duration: 12s; }
.particles li:nth-child(3) { left: 30%; width: 6px; height: 6px; animation-duration: 10s; }
.particles li:nth-child(4) { left: 40%; animation-duration: 14s; }
.particles li:nth-child(5) { left: 50%; animation-duration: 9s; }
.particles li:nth-child(6) { left: 60%; animation-duration: 7s; }
.particles li:nth-child(7) { left: 70%; animation-duration: 11s; }
.particles li:nth-child(8) { left: 80%; width: 5px; height: 5px; animation-duration: 13s; }
.particles li:nth-child(9) { left: 90%; animation-duration: 10s; }

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(-700px) scale(1.3);
    opacity: 0;
  }
}
